## Question1:
List and its default functions

In [8]:
list1 = ["I", "am", "Harleen Kaur", "born", "in", "1992"]
list2 = ["I", "am", "working", "professional"]

In [3]:
# Function 1: length of a list

len(list1)

6

In [7]:
# Function 2: maximum list among list1 and list2

max(list1, list2)

['I', 'am', 'working', 'professional']

In [14]:
# Function 2: minimum list among list1 and list2

min(list1, list2)

['I', 'am', 'Harleen Kaur', 'born', 'in', '1992']

In [13]:
# function 4: Conversion of tuple into list

list3 = (1,3,5,7)
print("Original tuple: ", list3)

res = list(list3)
print("Tuple converted into list: ", res)

Original tuple:  (1, 3, 5, 7)
Tuple converted into list:  [1, 3, 5, 7]

In [18]:
# Function 5: Sort the list in ascending and descending order

list1.sort()
print("Ascending order list: ",list1)

list2.sort(reverse = True)
print("Descending order list: ",list2)

Ascending order list:  ['1992', 'Harleen Kaur', 'I', 'am', 'born', 'in']
Descending order list:  ['working', 'professional', 'am', 'I']

## Question 2
Dictionary and its default functions

In [33]:
dict1 = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
dict1

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [21]:
# Function1: Return list of keys in a dictionary

list(dict1.keys())

['a', 'b', 'c', 'd', 'e']

In [34]:
# Function 2: Removes the key from dictionary

dict1.pop('b')
dict1

{'a': 10, 'c': 30, 'd': 40, 'e': 50}

In [35]:
# Function 3: Merges a dictionary with another dictionary or with an iterable of key-value pairs

dict2 = {'a': 100, 'f': 200}
dict1.update(dict2)
dict1

{'a': 100, 'c': 30, 'd': 40, 'e': 50, 'f': 200}

In [36]:
# Function 4: Return list of values in a dictionary

list(dict1.values())

[100, 30, 40, 50, 200]

In [37]:
# Function 5: Return the last inserted key value pair in a dictionary

dict1.popitem()

('f', 200)

## Question 3
Sets and its default functions

In [47]:
set1 = {"Delhi", "Mumbai", "Chennai", "001", "002"}
set2 = {"Kolkata", "Bengaluru", "Delhi"}

In [43]:
# Function 1: Add element to the set

set1.add('003')
set1

{'001', '002', '003', 'Chennai', 'Delhi', 'Mumbai'}

In [46]:
# Function 2: Remove the item that exist in both the sets

set1.difference_update(set2)
set1

{'001', '002', 'Chennai', 'Mumbai'}

In [48]:
# Function 3: Return True if no item in set1 is present in set2 else returns False

st = set1.isdisjoint(set2)
print(st)

False

In [49]:
# Function 4: Removes element from the set 

set1.pop()

'Mumbai'

In [50]:
# Function 5: update set1 with union of set2 

set1.update(set2)
set1

{'001', '002', 'Bengaluru', 'Chennai', 'Delhi', 'Kolkata'}

## Question 4
Tuple and explore default methods

In [53]:
tuple1 = (100, 300, 700, 800, 700, 500, 400, 600, 800, 500)
tuple1

(100, 300, 700, 800, 700, 500, 400, 600, 800, 500)

In [54]:
# Function 1: Count the no. of times item occurs in a tuple

res = tuple1.count(700)
print(res)

2

In [56]:
# Function 2: Search for the first occurrence of the value, and return its position

res = tuple1.index(500)
print(res)

5

## Question 5
String and explore default methods

In [59]:
string = "harleen kaur"

In [60]:
# Function 1: Capitalize first letter of the string and all other letters lowercased 

str1 = string.capitalize()
print("Original string: ", string)
print("Capitalized String: ",str1)

Original string:  harleen kaur
Capitalized String:  Harleen kaur

In [62]:
# Function 2: Count the occurrence of a substring

str2 = string.count("leen")

print("Original string: ", string)
print("The count of substring is: ", str2)

Original string:  harleen kaur
The count of substring is:  1

In [63]:
# Function 3: Returns true if the string ends with specified character

str3 = string.endswith(".")
print("Original string: ", string)
print(str3)

Original string:  harleen kaur
False

In [64]:
# Function 4: Formats the specified value(s) and insert them inside the string's placeholder

str4 = "{0} Harleen Kaur".format("Welcome!")
print("Original string: ", string)
print("Formatted string: ", str4)

Original string:  harleen kaur
Formatted string:  Welcome! Harleen Kaur

In [65]:
# Function 5: Splits the string at the specified separator, and returns a list. Default separator is any white space

str5 = string.split()
print("Original string: ", string)
print("Formatted string: ",str5)

Original string:  harleen kaur
Formatted string:  ['harleen', 'kaur']